.nbOfPersons-container{
    width: 30%;
    margin: 15px auto;
    display: flex;
    flex-direction: column;
    /* background-color: purple; */
}


.nbOfPersons-container label{
    width: 80%;
    font-size: 1em;
    /* background-color: rgb(151, 113, 151); */
}
.nbOfPersons-container select{
    width: 100%;
    margin: auto;
    font-size: 1.3em;
    text-align: start;
}